<a href="https://colab.research.google.com/github/dantae74/python/blob/master/dictionary_sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -Uqq ipdb
import ipdb

In [ ]:
%pdb off
# ipdb.set_trace(context=10)

In [32]:
citystrings = ["Charleston,WV,38.35,81.63",
              "Charlotte,NC,35.23,80.83",
              "Cheyenne,WY,41.15,104.87",
              "Chicago,IL,41.83,87.62",
              "Cincinnati,OH,39.13,84.50",
              "Cleveland,OH,41.47,81.62",
              "Columbia,SC,34.00,81.03",
              "Columbus,OH,40.00,83.02",
              "Dallas,TX,32.77,96.77",
              "Denver,CO,39.75,105.00"]


strings = citystrings[0].split(',')
strings

['Charleston', 'WV', '38.35', '81.63']

In [36]:
class City:
    def __init__(self, string):
        self._string = string.split(',')
        self._name = self._string[0]
        self._state = self._string[1]
        self._latitude = self._string[2]
        self._longitude = self._string[3]
        self._location = [self._latitude, self._longitude]

    def name(self):
        return self._name

    def location(self):
        return self._location
        self.hand.sort(key=lambda x: x.longitude)

    def __lt__(self, other):
        if self._longitude < other._longitude:
            return True
        if self._longitude > other._longitude:
            return False
        if self._longitude == other._longitude:
            if self._latitude < other._latitude:
                return True
            if self._latitude > other._latitude:
                return False

citystrings = ["Charleston,WV,38.35,81.63",
              "Charlotte,NC,35.23,80.83",
              "Cheyenne,WY,41.15,104.87",
              "Chicago,IL,41.83,87.62",
              "Cincinnati,OH,39.13,84.50",
              "Cleveland,OH,41.47,81.62",
              "Columbia,SC,34.00,81.03",
              "Columbus,OH,40.00,83.02",
              "Dallas,TX,32.77,96.77",
              "Denver,CO,39.75,105.00"]
westtoeastnames = [
            "Denver",
            "Cheyenne",
            "Dallas",
            "Chicago",
            "Cincinnati",
            "Columbus",
            "Charleston",
            "Cleveland",
            "Columbia",
            "Charlotte",
          ]
cities = [City(s) for s in citystrings]
cities.sort()
sortednames = [c.name() for c in cities]
print(sortednames)
print(westtoeastnames)

['Cheyenne', 'Denver', 'Charlotte', 'Columbia', 'Cleveland', 'Charleston', 'Columbus', 'Cincinnati', 'Chicago', 'Dallas']
['Denver', 'Cheyenne', 'Dallas', 'Chicago', 'Cincinnati', 'Columbus', 'Charleston', 'Cleveland', 'Columbia', 'Charlotte']

In [ ]:
['Cheyenne', 'Denver', 'Charlotte', 'Columbia', 'Cleveland', 'Charleston', 'Columbus', 'Cincinnati', 'Chicago', 'Dallas']
['Denver', 'Cheyenne', 'Dallas', 'Chicago', 'Cincinnati', 'Columbus', 'Charleston', 'Cleveland', 'Columbia', 'Charlotte']

['Cheyenne', 'Denver', 'Charlotte', 'Columbia', 'Cleveland', 'Charleston', 'Columbus', 'Cincinnati', 'Chicago', 'Dallas']
['Denver', 'Cheyenne', 'Dallas', 'Chicago', 'Cincinnati', 'Columbus', 'Charleston', 'Cleveland', 'Columbia', 'Charlotte']

In [ ]:
class Word:
    def __init__(self, word):
        self._word = word

    def __lt__(self, other):
        if self.isupper() and not other.isupper(): return False
        if self.isdigit() and other.islower(): return False

        len = min(len(self._world), len(other._word))
        for s, o in zip(self._world[:len], other._word[:len]):
            if s < o : return True
            elif s > o: return False